*:not(i) {
    font-family: Inter tight !important;
}

a {
    text-decoration: none !important;
}

textarea {
    resize: none !important;
}
.bg-echo {
    background-color: #8F00FF !important;
}

.text-echo {
    color: #8F00FF !important;
}

.border-echo {
    border-color: #8F00FF !important;
}

.btn {
    border-radius: 2rem !important;
}

.btn-echo {
    color: white !important;
    background-color: #8F00FF !important;
}

.rounder {
    border-radius: 2rem !important;
}

.rounder-top {
    border-radius: 2rem 2rem 0 0 !important;
}
.rounder-left {
    border-radius: 2rem 0 0 2rem !important;
}
.form-check-input:checked {
    background-color: #8F00FF !important;
    border-color: #8F00FF !important;
}
/* Navigation */
.nav_left {
    background-color: #8F00FF;
    border-top-left-radius: 48px;
    border-bottom-left-radius: 48px;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent;
    border-top: 4px solid #fff;
    color: #fff;
}

.nav-tabs .nav-link {
    border: none;
    border-top: 4px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0 20px 0 30px;
}

.nav-tabs .nav-link:hover {
    /* border: transparent !important; */
}

.nav-tabs {
    border-bottom: none;
}

.nav-link {
    padding: 1rem 0.5rem;
    color: #fff;
}

.nav-link:focus,
.nav-link:hover {
    color: #fff;
}

.search_input {
    width: 100%;
    border-radius: 10px;
    border: none;
    line-height: initial;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #f19159;
}

.search_input:focus-visible {
    outline: none;
}

input.search_input::placeholder {
    color: #cfd2ec;
    vertical-align: middle;
}

.search_img {
    top: 7px;
    right: 8px;
}

.navbar-toggler {
    border: 3px solid #f19159;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(35, 76, 203, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
    box-shadow: none;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: transparent !important;
}

/* Navigation */
/* Offcanvas  */
.offcanvas,
.offcanvas * {
    transition: 0.3s !important;
}

/* Offcanvas */
/* Action group items */
.action-items-group {
    padding: 0 !important;
    margin: 0 !important;
}

.action-items-group .action-item {
    position: relative;
    display: block;
    border-top: 1px solid #dee2e6 !important;
    padding: 0.8rem 1rem;
    text-decoration: none;
}

.action-item a {
    color: black !important;
}

/* Action group items */
.bookmark {
    position: absolute;
    top: 3%;
    right: 3%;
}

.card-img-top {
    object-fit: cover !important;
    height: 30vh !important;
}